
.container{
    margin-top: 40px;
    width: 30%;
    padding: 12px;
    border-radius: 2px;
    background-color:rgba(255,255,255,0.5);;
}

.container-lg{
    margin-top: 40px;
    margin-bottom: 40px;
}

body{
    background-image: url("imgs/background.png");
    background-size:     cover;  
    background-repeat:   no-repeat;
    background-position: center center;
}

.transparent{
    background-color: rgb(54, 226, 238);
    color: rgb(87, 84, 84);
  }

img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-style: hidden;
}

img:hover{
    transform: scale(1.4);
}

.btn-text:hover{
    color: rgb(54, 226, 238);
}
